

.nav-bar{
    background-color: aqua;
    font: arial 20px;
    height: 30px;
}

.nav-bar ul{
    display:flex; 
    justify-content: flex-end;
    gap: 30px;
}

.nav-bar li{
    list-style: none;
    transition: 10;
    }
a{
    text-decoration: none;
}
 a:hover {
      background: red;
      color: #0b76ef;
    }

.container{
    display:flex;
    gap: 20px;
    align-items: end;
}
.box1{
    border: 2px solid orange;
    justify-content: start; /* justify content  and make box 1 longer in hieght*/
    height: 300px;
    gap: 20px;
    order:3;
}


.box2{
    border: 2px solid red;
    order:2;
}

.box3{
    border: 2px solid blue;
    order: ;
}
